LightHouse.xcworkspace/xcuserdata/fnord.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/fnord.xcuserdatad/xcschemes/CocoaLumberjack.xcscheme
Pods/Pods.xcodeproj/xcuserdata/fnord.xcuserdatad/xcschemes/xcschememanagement.plist
LightHouse.xcworkspace/xcuserdata/fnord.xcuserdatad/xcdebugger/
